html {
  background-color: #331;
}

button {
  background-color: #222;
  color: #efefef;
  border: none;
  outline: none;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  margin: 1rem;
  cursor: pointer;
  transition: background 250ms ease;
}

button:hover {
  background-color: #333;
}

.container {
  max-width: 100rem;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-box {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}
